body {
    overflow-x: hidden;
}

.bingo-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.top-blue {
    width: 100vw;
    height: 5vh;
    background-color: cornflowerblue;
    z-index: 2;
}

.left-blue {
    width: 5vh;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: cornflowerblue;
}

.subheader {
    font-size: 1.5rem;
    margin-left: 5vh;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.controls-container {
    width: fit-content;
}

.controls>button {
    display: block;
    width: auto;
}

.btn-cornflowerblue {
    background: cornflowerblue;
    color: white;
}

.btn-cornflowerblue:hover {
    color: white;
    background: #4d85ea;
}

.bingo-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bingo-row>* {
    width: 150px;
    text-align: center;
}

.bingo-row>.card {
    width: 160px;
    height: fit-content;
    display: grid;
    place-items: center;
    height: 170px;
}

.bingo-row>.card>img {
    width: 100px;
}

.lightbox-shade {
    background-color: rgba(0,0,0,0.6);
    width: 100vw;
    height: 100vh;
    z-index: 3;
    position: fixed;
}

.lightbox-img {
    z-index: 15;
    transform: translate(-50%,-50%);
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 1;
    max-width: 80vw;
    max-height: 80vh;
    filter: brightness(50%);
}

.lightbox-img:hover {
    transition: all 1000ms;
}

.lightbox-txt {
    z-index: 16;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 1;
    max-width: 80vw;
    max-height: 80vh;
    /* visibility: shidden; */
    background-color: rgba(0,0,0,0.6);
    color: white;
    opacity: 1;
    padding: 2px;
    transition: all 1000ms;
}

.hide-txt {
    opacity: 0;
}

.hide {
    visibility: hidden;
}

.accept {
    padding: 5px;
}

.inactive-card {
    background-color: gray;
    filter: blur(1px);
}

.inactive-card>img {
    filter: blur(1px);
}

/* tablet or smaller */
@media only screen and (max-width: 1024px) {
    .bingo-row>.card {
        width: 110px;
        height: fit-content;
    }

    .card-title {
        font-size: 0.8rem;
    }
}

/* phone or smaller */
@media only screen and (max-width: 768px) {
    .bingo-row>.card {
        width: 60px;
        height: fit-content;
    }

    .bingo-row>.card>img {
        width: 50px;
    }

    .card-title {
        font-size: 0.6rem;
    }

    .top-blue {
        height: 2vh;
    }

    .left-blue {
        width: 2vh;
    }

    .subheader {
        font-size: 1rem;
        margin: 0;
    }
}