@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bingo-card {
        @apply bg-white p-1 text-center aspect-square border-2 border-gray-300 border-dashed border-l-0 last:border-r-0 align-top border-b-0;
        width: 150px;
    }

    .bingo-card img {
        @apply h-auto aspect-square border-4 border-gray-100 rounded-lg;
    }

    .bingo-card h2 {
        @apply sm:block hidden sm:text-xs md:text-sm font-extralight lg:whitespace-normal lg:overflow-auto lg:overflow-ellipsis whitespace-nowrap overflow-hidden overflow-ellipsis lg:w-auto;
        width: 90px;
    }

    .bingo-selected-card {
        @apply bg-green-200;
    }

    .bingo-selected-card img {
        @apply border-green-100;
    }

    .bingo-header {
        @apply text-2xl text-gray-700 font-semibold
    }

    .bingo-overlay {
        @apply max-w-full max-h-full aspect-square hidden md:flex flex-col justify-end absolute top-0 bottom-0 left-0 right-0 opacity-0 hover:opacity-100 hover:bg-black/[0.6] duration-200 ease-in text-center mx-auto my-auto rounded-lg;
    }

    .card-width {
        width: 150px;
    }

    .drop-btn {
        @apply px-2 pt-1 mb-px border-b-2 border-gray-300 bg-gray-200 hover:border-gray-100 hover:translate-y-px text-sm
    }

    .map-it-btn {
        @apply absolute right-8 bottom-8 w-16 h-16 sm:w-24 sm:h-24 bg-blue-700 active:bg-blue-800 shadow-xl hover:shadow-lg active:shadow-sm text-gray-100 rounded-full text-base font-light sm:text-2xl sm:font-bold disabled:bg-gray-400 disabled:text-gray-600 disabled:opacity-40 disabled:border-dashed border-none border-gray-600 border-2 tracking-tighter
    }

    .nav-btn {
        @apply text-base p-1 px-2 active:shadow-none hover:shadow-md shadow-lg bg-gray-200 border-gray-300 border-2 text-gray-700 font-semibold lg:text-lg lg:p-2 lg:px-4 rounded-lg m-1
    }
}