@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bingo-card {
        @apply bg-white p-1 text-center aspect-square border-2 border-gray-300 border-dashed first:border-l-0 last:border-r-0 align-top border-b-0;
        width: 150px;
    }

    .bingo-card img {
        @apply h-auto aspect-square border-4 border-gray-100 rounded-lg;
    }

    .bingo-card h2 {
        @apply sm:block hidden sm:text-xs md:text-sm font-extralight lg:whitespace-normal lg:overflow-auto lg:overflow-ellipsis whitespace-nowrap overflow-hidden overflow-ellipsis lg:w-auto;
        width: 90px;
    }

    .bingo-selected-card {
        @apply bg-green-200;
    }

    .bingo-selected-card img {
        @apply border-green-100;
    }

    .card-width {
        width: 150px;
    }
}